@page "/"
@inject NavigationManager Navigation

<div class="landing-container">

    <button class="about-info-button"
            @onclick="GoToAbout"
            aria-label="מעבר לעמוד אודות">
        <img src="images/INFObutton.png" alt="אייקון סגול עם האות i" />
        <span class="about-info-tooltip">אודות</span>
    </button>

    <div class="landing-content">
        <img src="images/logo_black-removebg-preview%20(1).png" class="main-logo" alt="לוגו המערכת קלאסי"/>

        <div class="login-card">
            <h1 class="app-title">Let's begin!</h1>

<div class="auth-wrapper" dir="rtl">
                @if (!string.IsNullOrEmpty(authErrorMessage))
                {
                    <p class="auth-error-message">
                        @authErrorMessage
                    </p>
                }

                <div class="auth-buttons">
                    <button class="btn-login google" @onclick="LoginWithGoogle">
                        <img src="images/googleLogo.png" alt="אייקון של גוגל"/>
                        <span>התחברות באמצעות גוגל</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <img src="images/TedFriend_character-removebg-preview.png" class="your-mascot" alt="הדמות המלווה של המערכת"/>

</div>

@code {
    private string authErrorMessage = ""; // החזקת הודעות שגיאה לצורך חיווי למשתמש (User Feedback)

    //פונקציית התחברות באמצעות גוגל
    private void LoginWithGoogle()
    {
        authErrorMessage = ""; // איפוס הודעות שגיאה לפני יציאה לנתיב הניווט
        
        // ביצוע הפנייה מלאה (Server-side Redirect) לקצה השרת (API Controller) לצורך תהליך ההתחברות  מול גוגל
        Navigation.NavigateTo("api/google/login", forceLoad: true);
    }
    
    private void GoToAbout()
    {
        Navigation.NavigateTo("/About");
    }
}