@inherits LayoutComponentBase
@using BlazorGoogleLogin.Client.Services
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject SessionState State
@inject HttpClient Http

<PageTitle>Ted Friend</PageTitle>

<a class="skip-to-main" href="#main-content">דילוג לתוכן המרכזי</a>

<div class="page">
    <main id="main-content">
        <article class="app-content-wrapper">
            @Body
        </article>
    </main>
</div>

@code {

}