@inherits LayoutComponentBase
@using BlazorGoogleLogin.Client.Services
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject SessionState State
@inject HttpClient Http

<PageTitle>Ted Friend</PageTitle>

<div class="page">
    <main>
        <article class="app-content-wrapper">
            @Body
        </article>
    </main>
</div>

@code {
    
}